<a href="https://colab.research.google.com/github/awsmsaurabh/CancerClassification/blob/master/CancerClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow import keras

In [0]:
df=pd.read_csv('breast-cancer-wisconsin.csv')

In [3]:
df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [0]:
df.drop(['Sample code number'],axis=1,inplace=True)

In [5]:
df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [0]:
df.loc[:, 'Class'].replace([2,4], [0,1], inplace=True)

In [0]:
df.loc[:,:].replace(['?'],[pd.np.NaN],inplace=True)
df.fillna(df.mean(),inplace=True)

In [0]:
train_x=df.loc[0:(int)(0.7*len(df)),'Clump Thickness':'Mitoses']
train_y=df.loc[0:(int)(0.7*len(df)),'Class']
test_x=df.loc[(int)(0.7*len(df)):,'Clump Thickness':'Mitoses']
test_y=df.loc[(int)(0.7*len(df)):,'Class']

In [9]:
model = tf.keras.Sequential([keras.layers.Dense(9,activation='sigmoid',input_shape=(9,)),
                             tf.keras.layers.Dense(5, activation='relu'),
                             tf.keras.layers.Dense(1, activation='sigmoid')])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [10]:
model.compile(optimizer='sgd', loss='mean_squared_error', metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/utils/losses_utils.py:170: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [11]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 9)                 90
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 50
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 146
Trainable params: 146
Non-trainable params: 0
_________________________________________________________________

In [12]:
model.fit(train_x,train_y, epochs=5)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/5
490/490 [==============================] - 1s 2ms/sample - loss: 0.2416 - acc: 0.6020
Epoch 2/5
490/490 [==============================] - 0s 103us/sample - loss: 0.2497 - acc: 0.6020
Epoch 3/5
490/490 [==============================] - 0s 106us/sample - loss: 0.2493 - acc: 0.6020
Epoch 4/5
490/490 [==============================] - 0s 105us/sample - loss: 0.2488 - acc: 0.6020
Epoch 5/5
490/490 [==============================] - 0s 106us/sample - loss: 0.2485 - acc: 0.6020

In [13]:
model.evaluate(test_x,test_y)

210/210 [==============================] - 0s 271us/sample - loss: 0.2451 - acc: 0.7762

[0.24513531000841232, 0.77619046]