<a href="https://colab.research.google.com/github/awsmsaurabh/CancerClassification/blob/master/CancerClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow import keras

In [0]:
df=pd.read_csv('breast-cancer-wisconsin.csv')

In [3]:
df.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [0]:
df.drop(['Sample code number'],axis=1,inplace=True)

In [5]:
df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [0]:
df.loc[:, 'Class'].replace([2,4], [0,1], inplace=True)

In [0]:
df.loc[:,:].replace(['?'],float(df.mean()[6]),inplace=True)

In [8]:
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df)
df= pd.DataFrame(np_scaled)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.444444,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.0,0.0
1,0.444444,0.333333,0.333333,0.444444,0.666667,1.000000,0.222222,0.111111,0.0,0.0
2,0.222222,0.000000,0.000000,0.000000,0.111111,0.111111,0.222222,0.000000,0.0,0.0
3,0.555556,0.777778,0.777778,0.000000,0.222222,0.333333,0.222222,0.666667,0.0,0.0
4,0.333333,0.000000,0.000000,0.222222,0.111111,0.000000,0.222222,0.000000,0.0,0.0

In [0]:
#train_x=df.loc[0:(int)(0.7*len(df)),'Clump Thickness':'Mitoses']
#train_y=df.loc[0:(int)(0.7*len(df)),'Class']
#test_x=df.loc[(int)(0.7*len(df)):,'Clump Thickness':'Mitoses']
#test_y=df.loc[(int)(0.7*len(df)):,'Class']

In [0]:
train_x=df.loc[0:(int)(0.7*len(df)),0:8]
train_y=df.loc[0:(int)(0.7*len(df)),9]
test_x=df.loc[(int)(0.7*len(df)):,0:8]
test_y=df.loc[(int)(0.7*len(df)):,9]

In [12]:
model = tf.keras.Sequential([keras.layers.Dense(9,activation='relu',input_shape=(9,)),
                             tf.keras.layers.Dense(5, activation='relu'),
                             tf.keras.layers.Dense(1, activation='sigmoid')])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [0]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [14]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 9)                 90
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 50
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 146
Trainable params: 146
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.fit(train_x,train_y, epochs=20)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/20
490/490 [==============================] - 0s 862us/sample - loss: 0.6442 - acc: 0.5878
Epoch 2/20
490/490 [==============================] - 0s 166us/sample - loss: 0.6204 - acc: 0.7449
Epoch 3/20
490/490 [==============================] - 0s 162us/sample - loss: 0.5942 - acc: 0.8633
Epoch 4/20
490/490 [==============================] - 0s 187us/sample - loss: 0.5645 - acc: 0.9102
Epoch 5/20
490/490 [==============================] - 0s 185us/sample - loss: 0.5337 - acc: 0.9367
Epoch 6/20
490/490 [==============================] - 0s 184us/sample - loss: 0.5022 - acc: 0.9429
Epoch 7/20
490/490 [==============================] - 0s 171us/sample - loss: 0.4698 - acc: 0.9490
Epoch 8/20
490/490 [==============================] - 0s 174us/sample - loss: 0.4383 - acc: 0.9551
Epoch 9/20
490/490 [==============================] - 0s 173us/sample - loss: 0.4070 - acc: 0.9551
Epoch 10/20
490/490 [==============================] - 0s 167us/sample - loss: 0.3777 - acc: 0.9571
Epoch 11/20
490/490 [==============================] - 0s 209us/sample - loss: 0.3496 - acc: 0.9571
Epoch 12/20
490/490 [==============================] - 0s 184us/sample - loss: 0.3233 - acc: 0.9571
Epoch 13/20
490/490 [==============================] - 0s 169us/sample - loss: 0.2980 - acc: 0.9592
Epoch 14/20
490/490 [==============================] - 0s 159us/sample - loss: 0.2763 - acc: 0.9571
Epoch 15/20
490/490 [==============================] - 0s 165us/sample - loss: 0.2564 - acc: 0.9592
Epoch 16/20
490/490 [==============================] - 0s 186us/sample - loss: 0.2389 - acc: 0.9592
Epoch 17/20
490/490 [==============================] - 0s 163us/sample - loss: 0.2236 - acc: 0.9551
Epoch 18/20
490/490 [==============================] - 0s 167us/sample - loss: 0.2102 - acc: 0.9551
Epoch 19/20
490/490 [==============================] - 0s 162us/sample - loss: 0.1983 - acc: 0.9531
Epoch 20/20
490/490 [==============================] - 0s 177us/sample - loss: 0.1886 - acc: 0.9551

In [16]:
model.evaluate(test_x,test_y)

210/210 [==============================] - 0s 304us/sample - loss: 0.1184 - acc: 0.9952

[0.11843959916205633, 0.99523807]